<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 px-5">
  <a class="navbar-brand" href="/home">Animal Chipping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animal">Animal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="animal-type">Animal type</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/location">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/visited-location">Visited location</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Container -->
<div class="container h-100 d-flex flex-column justify-content-center">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center p-3 mt-5">
  <span>Copyright ©2023 <a href="/home">Animal Chipping</a></span>
</footer>