<table class="table table-borderless" *ngIf="location">
    <thead>
        <tr>
            <th colspan="3" scope="col">Локация</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">ID</td>
            <td>{{location.id}}</td>
        </tr>
        <tr>
            <td scope="row">Широта</td>
            <td>{{location.latitude}}</td>
        </tr>
        <tr>
            <td scope="row">Долгота</td>
            <td>{{location.longitude}}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success" role="alert" *ngIf="isLocationDeleted">
    Локация была успешно удалена!
</div>
<app-json-view [object]="location" *ngIf="location"></app-json-view>