<table class="table" *ngIf="account">
    <thead>
        <tr>
            <th colspan="4" scope="col">Account</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">ID</td>
            <td>{{account.id}}</td>
        </tr>
        <tr>
            <td scope="row">latitude</td>
            <td>{{account.firstName}}</td>
        </tr>
        <tr>
            <td scope="row">longitude</td>
            <td>{{account.lastName}}</td>
        </tr>
        <tr>
            <td scope="row">longitude</td>
            <td>{{account.email}}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success" role="alert" *ngIf="isAccountDeleted">
    Account has been deleted!
</div>