<div class="container d-flex">
    <div class="accordion w-50 me-5" id="animalAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne" (click)="setActiveTab('FIND')">
                    Find an Animal
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#animalAccordion">
                <div class="accordion-body">
                    <form [formGroup]="findForm" (ngSubmit)="findAnimal()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="animalId" formControlName="animalId"
                                placeholder="Enter animal ID">
                            <label for="animalId">Animal ID</label>
                        </div>
                        <button [disabled]="findForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="setActiveTab('ADD')">
                    Add an Animal
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#animalAccordion">
                <div class="accordion-body">
                    <form [formGroup]="addForm" (ngSubmit)="addAnimal()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="weight" formControlName="weight"
                                placeholder="Enter animal weight">
                            <label for="weight">Weight</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="length" formControlName="length"
                                placeholder="Enter animal length">
                            <label for="length">Length</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="height" formControlName="height"
                                placeholder="Enter animal height">
                            <label for="height">Height</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="gender" formControlName="gender"
                                placeholder="Enter animal gender">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="chipperId" formControlName="chipperId"
                                placeholder="Enter chipper ID">
                            <label for="chipperId">Chipper ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="chippingLocationId" formControlName="chippingLocationId"
                                placeholder="Enter chipping Location ID">
                            <label for="chippingLocationId">Chipping location ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="animalTypes" formControlName="animalTypes"
                                placeholder="Enter animal type">
                            <label for="animalTypes">Animal type</label>
                        </div>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="setActiveTab('UPDATE')">
                    Update an Animal
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#animalAccordion">
                <div class="accordion-body">
                    <form [formGroup]="updateForm" (ngSubmit)="updateAnimal()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="animalId" formControlName="animalId"
                                placeholder="Enter animal ID">
                            <label for="animalId">Animal ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="weight" formControlName="weight"
                                placeholder="Enter animal weight">
                            <label for="weight">Weight</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="length" formControlName="length"
                                placeholder="Enter animal length">
                            <label for="length">Length</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="height" formControlName="height"
                                placeholder="Enter animal height">
                            <label for="height">Height</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="gender" formControlName="gender"
                                placeholder="Enter animal gender">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="lifeStatus" formControlName="lifeStatus"
                                placeholder="Enter animal life status">
                            <label for="lifeStatus">Life status</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="chipperId" formControlName="chipperId"
                                placeholder="Enter chipper ID">
                            <label for="chipperId">Chipper ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="chippingLocationId" formControlName="chippingLocationId"
                                placeholder="Enter chipping Location ID">
                            <label for="chippingLocationId">Chipping location ID</label>
                        </div>
                        <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="setActiveTab('DELETE')">
                    Delete an Animal
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#animalAccordion">
                <div class="accordion-body">
                    <form [formGroup]="deleteForm" (ngSubmit)="deleteAnimal()">
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="animalId" formControlName="animalId"
                                placeholder="Enter animal ID">
                            <label for="animalId">Animal ID</label>
                        </div>
                        <button [disabled]="deleteForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-animal-view class="w-50" [animal]="foundedAnimal" *ngIf="activeTab === 'FIND'"></app-animal-view>
    <app-animal-view class="w-50" [animal]="addedAnimal" *ngIf="activeTab === 'ADD'"></app-animal-view>
    <app-animal-view class="w-50" [animal]="updatedAnimal" *ngIf="activeTab === 'UPDATE'"></app-animal-view>
    <app-animal-view class="w-50" [isAnimalDeleted]="isAnimalDeleted" *ngIf="activeTab === 'DELETE'"></app-animal-view>
</div>