<div class="container d-flex">
    <div class="container border p-4">
        <h3>Get an Animal type</h3>
        <form [formGroup]="findForm" (ngSubmit)="findAnimalType()">
            <div class="form-group">
                <label for="typeId">ID</label>
                <input type="number" class="form-control" id="typeId" formControlName="typeId" placeholder="Enter animal type ID">
            </div>
            <button [disabled]="findForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="card mt-3" *ngIf="foundedAnimalType">
            <div class="card-header">id: {{foundedAnimalType.id}}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">type: {{foundedAnimalType.type}}</li>
            </ul>
        </div>
    </div>

    <div class="container border p-4">
        <h3>Add an Animal type</h3>
        <form [formGroup]="addForm" (ngSubmit)="addAnimalType()">
            <div class="form-group">
                <label for="type">type</label>
                <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter animal type">
            </div>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="card mt-3" *ngIf="addedAnimalType">
            <div class="card-header">id: {{addedAnimalType.id}}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">type: {{addedAnimalType.type}}</li>
            </ul>
        </div>
    </div>

    <div class="container border p-4">
        <h3>Update an Animal type</h3>
        <form [formGroup]="updateForm" (ngSubmit)="updateAnimalType()">
            <div class="form-group">
                <label for="typeId">ID</label>
                <input type="number" class="form-control" id="typeId" formControlName="typeId" placeholder="Enter animal type ID">
            </div>
            <div class="form-group">
                <label for="type">type</label>
                <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter animal type">
            </div>
            <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="card mt-3" *ngIf="updatedAnimalType">
            <div class="card-header">id: {{updatedAnimalType.id}}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">type: {{updatedAnimalType.type}}</li>
            </ul>
        </div>
    </div>

    <div class="container border p-4">
        <h3>Delete an Animal type</h3>
        <form [formGroup]="deleteForm" (ngSubmit)="deleteAnimalType()">
            <div class="form-group">
                <label for="typeId">ID</label>
                <input type="number" class="form-control" id="typeId" formControlName="typeId" placeholder="Enter animal type ID">
            </div>
            <button [disabled]="deleteForm.invalid" type="submit" class="btn btn-primary">Submit</button>
            <div class="alert alert-success mt-3" role="alert" *ngIf="isAnimalTypeDeleted">
                Animal has been deleted!
            </div>
        </form>
    </div>
</div>