<div class="container d-flex">
    <div class="container border p-4">
        <h3>Find an Account</h3>
        <form [formGroup]="findForm" (ngSubmit)="findAccount()">
            <div class="form-group">
                <label for="accountId">ID</label>
                <input type="text" class="form-control" id="accountId" formControlName="accountId" placeholder="Enter ID">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="card mt-3" *ngIf="foundedAccount">
            <div class="card-header">id: {{foundedAccount.id}}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First name: {{foundedAccount.firstName}}</li>
                <li class="list-group-item">Last name: {{foundedAccount.lastName}}</li>
                <li class="list-group-item">email: {{foundedAccount.email}}</li>
            </ul>
        </div>
    </div>

    <div class="container border p-4">
        <h3>Update an Account</h3>
        <form [formGroup]="updateForm" (ngSubmit)="updateAccount()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="card mt-3" *ngIf="updatedAccount">
            <div class="card-header">id: {{updatedAccount.id}}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First name: {{updatedAccount.firstName}}</li>
                <li class="list-group-item">Last name: {{updatedAccount.lastName}}</li>
                <li class="list-group-item">email: {{updatedAccount.email}}</li>
            </ul>
        </div>
    </div>

    <div class="container border p-4">
        <h3>Delete an Account</h3>
        <form [formGroup]="deleteForm" (ngSubmit)="deleteAccount()">
            <div class="form-group">
                <label for="accountId">ID</label>
                <input type="text" class="form-control" id="accountId" name="accountId" placeholder="Enter ID">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="alert alert-success mt-3" role="alert" *ngIf="isAccountDeleted">
                Account has been deleted!
            </div>
        </form>
    </div>
</div>