<div class="container d-flex">
    <div class="accordion w-50 me-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne" (click)="setActiveTab('FIND')">
                    Find a Location
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="findForm" (ngSubmit)="findLocation()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="locationId" formControlName="locationId"
                                placeholder="Enter Location ID">
                            <label for="locationId">Location ID</label>
                        </div>
                        <button [disabled]="findForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                    (click)="setActiveTab('ADD')">
                    Add a Location
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="addForm" (ngSubmit)="addLocation()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="latitude" formControlName="latitude"
                                placeholder="Enter Location latitude">
                            <label for="latitude">Latitude</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="longitude" formControlName="longitude"
                                placeholder="Enter Location longitude">
                            <label for="longitude">Longitude</label>
                        </div>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                    (click)="setActiveTab('UPDATE')">
                    Update a Location
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="updateForm" (ngSubmit)="updateLocation()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="locationId" formControlName="locationId"
                                placeholder="Enter Location ID">
                            <label for="locationId">Location ID</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="latitude" formControlName="latitude"
                                placeholder="Enter Location latitude">
                            <label for="latitude">Latitude</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="longitude" formControlName="longitude"
                                placeholder="Enter Location longitude">
                            <label for="longitude">Longitude</label>
                        </div>
                        <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                    (click)="setActiveTab('DELETE')">
                    Delete a Location
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="deleteForm" (ngSubmit)="deleteLocation()">
                        <div class="form-floating my-3">
                            <input type="number" class="form-control" id="locationId" formControlName="locationId"
                                placeholder="Enter Location ID">
                            <label for="locationId">Location ID</label>
                        </div>
                        <button [disabled]="deleteForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-location-view class="w-50" [location]="foundedLocation" *ngIf="activeTab === 'FIND'"></app-location-view>
    <app-location-view class="w-50" [location]="addedLocation" *ngIf="activeTab === 'ADD'"></app-location-view>
    <app-location-view class="w-50" [location]="updatedLocation" *ngIf="activeTab === 'UPDATE'"></app-location-view>
    <app-location-view class="w-50" [isLocationDeleted]="isLocationDeleted" *ngIf="activeTab === 'DELETE'"></app-location-view>
</div>