.code-block {
    display: flex;
    flex-direction: column;
    background-color: #010409;
    color: #FFF;
    border-radius: 0.5em;
}

.code-block > * {
    padding: 1em;
    border-radius: 0.5em;
}

.code-block-header {
    background-color: #21262d;
    padding: 0 1em !important;
    border-radius: 0.5em 0.5em 0 0 !important;
    margin-bottom: 1em;
    line-height: 2.25em;
}
