<table class="table table-borderless" *ngIf="animal">
    <thead>
        <tr>
            <th colspan="3" scope="col">Животное</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">ID</td>
            <td>{{animal.id}}</td>
        </tr>
        <tr>
            <td scope="row">Тип животного</td>
            <td>{{animal.animalTypes}}</td>
        </tr>
        <tr>
            <td scope="row">Вес</td>
            <td>{{animal.weight}}</td>
        </tr>
        <tr>
            <td scope="row">Длина</td>
            <td>{{animal.length}}</td>
        </tr>
        <tr>
            <td scope="row">Высота</td>
            <td>{{animal.height}}</td>
        </tr>
        <tr>
            <td scope="row">Пол</td>
            <td>{{animal.gender}}</td>
        </tr>
        <tr>
            <td scope="row">Жизненный статус</td>
            <td>{{animal.lifeStatus}}</td>
        </tr>
        <tr>
            <td scope="row">Время чипирования</td>
            <td>{{animal.chippingDateTime}}</td>
        </tr>
        <tr>
            <td scope="row">ID владельца</td>
            <td>{{animal.chipperId}}</td>
        </tr>
        <tr>
            <td scope="row">ID локации чипирования</td>
            <td>{{animal.chippingLocationId}}</td>
        </tr>
        <tr>
            <td scope="row">ID Посещенных локаций</td>
            <td>{{animal.visitedLocations}}</td>
        </tr>
        <tr>
            <td scope="row">Дата смерти</td>
            <td>{{animal.deathDateTime}}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success" role="alert" *ngIf="isAnimalDeleted">
    Животное было успешно удалено!
</div>
<app-json-view [object]="animal" *ngIf="animal"></app-json-view>