/* You can add global styles to this file, and also import other style files */
.app-root {
    background-color: #fbfbfb !important;
}
.violet-bg {
    color: white !important;
    background-color: slateblue !important;
    border-color: slateblue !important;
}